.body{
    margin:0;
    padding:0;
}

.main_search{
    text-align:center;
    padding:20px;
    border-bottom: 1px solid lightgray;
}

.main_search input{
    border-radius: 30px;
    border:solid 1px lightgray;
    color:black;
    font-size: 20px;
    padding:10px;
    font-weight:300;
}

.main_search input:focus{
    outline: none;
}

.car_item{
    display:flex;
    border:1px solid lightgray;
}

.car_item .left{
    width:200px;
}

.car_item .left img{
    width:100%;
}


.car_item .right{
    flex-grow: 1;
    padding: 10px;
}

.car_item h3, .car_item h5{
    margin:0;
}